.venv/
.venv_deprecated/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

.env
.env.*
*.env
*.env.*

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
build/
dist/
*.egg-info/

*.log
*.log.*
*.out
*.tmp
*.bak
